/* Extra small (600px and down) */
/* Extra small (600px and down) */
@media only screen and (max-width: 600px) {
    /*Logo*/
    .menu{
       display: none;
    }
    
    .header {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    justify-content: space-between;
  
}
    .menu-mobile .header .logo img {
    width: 250px;
    animation-name: opening-logo;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    }
    .menu-mobile {
    margin-top: -680px;
    margin-left: 13rem;
    }


    /*Nija*/
    .secciones 
    .texto{  
        color: rgb(172, 172, 172); 
        text-align: justify;
        font-size: 18px ;
        position: relative; 
        padding: 10%;
        margin-top: 20px;
    }    

    .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
    }

    .contenedor-texto
    h2{
        font-size: 30px;
        color: rgb(172, 172, 172);
        margin-bottom: 95px;

    }
    .imagen-container{
        width: 500px;
        margin-bottom: 50px;
        margin-top: -140px;
    }

    /*Seccion 1*/

    .seccion-div1 .secciones {
        flex-direction: column-reverse;
    }
    .contenedor-texto1 p{
        font-size: 18px ;
        padding: 10%;
    }
    .contenedor-texto1 h2{
        font-size: 25px ;
    }
    .seccion-div1 img{
        width: 520px;
        height: auto;
        margin-bottom: 600px;
        padding: 7%;
        margin-top: -180px;
    }

    /*Seccion 2*/
    .seccion-div2 .secciones {
        flex-direction: column;
    }
    .contenedor-texto2 p{
        font-size: 18px;
        padding: 10%;
    }
    .contenedor-texto2 h2{
        font-size: 25px ;
    }
    .seccion-div2 img{
        width: 520px;
        height: auto;
        margin-bottom: 900px;
        padding: 7%;
        margin-top: -100px;
    }

    /*About*/
    #secciones-about{
        margin-top: -600px;
    }
    .about-text p{
        font-size: 18px;
        text-align: justify;
    }
    .about-text h2{
        font-size: 32px ;
    }
    /*FAQ - Nuevo*/
    .collapsible {
        padding: 10px;
        width: 100%;
        text-align: left;
        font-size: 17px;
        border-color: #000000;
        
      }
      .collapsible:hover {
        background-color: #2e2e2e;
        color: rgb(172, 172, 172);
        border-color: #000000;
      }
      .contenedor-acordeon h2{
        text-align: center;
        font-size: 30px;
        margin-bottom: 30px;
      }
      .contenedor-acordeon p{
        font-size: 15px;
      }
    /*BUY - NUEVO */
    .flex-container {
        display: flex;
        flex-direction:column;
        text-align: center;
    }
    /*Derecho-Arriba(Blanco)*/
    .item-left {
        border-radius: 20px 20px 20px 20px;
        font-size: 20px;
        margin: 5rem 5rem 5rem 5rem; 
        height: 500px;
        width: 500px;
        margin-top: 100px;
        margin-bottom: 5px;
    }
    .item-left p{
        font-size: 18px; text-align: justify;
    }

    /*Izquierdo-Abajo(Negro)*/
.item-right {
    border-radius: 20px 20px 20px 20px;
    text-align:left;
    font-size: 15px;
    margin: 5rem 5rem 5rem 5rem;
    height: 500px;
    width: 500px;
    margin-top: 5px;
}
/* Boton Buy */
.controll{
    bottom: -100px;
    left: 30%;
}
.btnn span {
    font-size: 20px;
}
/* FOOTER*/
footer {
    background-color: black;
    color: rgb(172, 172, 172);
    padding-top: 200px;
    
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

.footer-content h3 {
    font-size: 25px;
    font-weight: 200;
    line-height: 1rem;
    margin-bottom: 8px;
    color: rgb(172, 172, 172);
    padding: 25px;
  }  
  .footer-content p {
    font-size: 15px;
  }
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
.socials li {
    margin: 0 25px;
  }
  .footer-bottom {
    background: #100f0f;
    padding: 10px 0;
    text-align: center;
  }
  .footer-bottom p {
    font-size: 10px;
    word-spacing: 2px;
    color: rgb(172, 172, 172);
  }

}

/*------------Medium (768px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    /* LOGO */
    .main-container .logo img {
        width: 350px;
    }

    .menu-mobile{
        display: none;
    }

    /* NINJA */
    .secciones 
    .texto{  
        color: rgb(172, 172, 172);
        text-align: justify;
        font-size: 19px ;
        position: relative; 
        padding: 0;
        margin-top: 130px;
    }    

    .container {
        display: flex;
        flex-direction: column;
    }

    .contenedor-texto
    h2{
        font-size: 35px;
        color: rgb(172, 172, 172);

    }
    .imagen-container{
        width: 700px;
        margin-bottom: 50px;
    }

     /*Seccion 1*/

     .seccion-div1 .secciones {
        flex-direction: column-reverse;
    }
  
    .contenedor-texto1 p{
        font-size: 19px ;
    }
    .contenedor-texto1 h2{
        font-size: 25px ;
    }
    .seccion-div1 img{
        width: 700px;
        height: auto;
        margin-bottom: 10px;
    }

    /*Seccion 2*/
    .seccion-div2 .secciones {
        flex-direction: column;
    }

    .contenedor-texto2 p{
        font-size: 19px;
    }
    .contenedor-texto2 h2{
        font-size: 25px ;
    }
    
    .seccion-div2 img{
        width: 700px;
        height: auto;
        margin-bottom: 10px;
    }

    /*About*/
    .about-text p{
        font-size: 18px;
        text-align: justify;
    }
    .about-text h2{
        font-size: 32px ;
    }
    /*FAQ*/
    .contenedor-acordeon h2{
        font-size: 30px ;
        text-align: left ;
        margin-top: 100px;
    }
    .contenedor-acordeon p{
       text-align: justify;
    }
    .acordeon label{
        font-size: 17px ;
        text-align: left
    }

    /*BUY - NUEVO */
    .flex-container {
    display: flex;
    flex-direction:column;
    text-align: center;
  }
    /*Derecho-Arriba(Blanco)*/
    .item-left {
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    margin: 5rem 5rem 5rem 5rem; 
    height: 500px;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 5px;
    }
    .item-left p{
    font-size: 18px; text-align: justify;
    }

    /*Izquierdo-Abajo(Negro)*/
    .item-right {
    border-radius: 20px 20px 20px 20px;
    text-align:left;
    font-size: 15px;
    margin: 5rem 5rem 5rem 5rem;
    height: 500px;
    width: 500px;
    margin-top: 5px;
    }
    /* Boton Buy */
    .controll{
    bottom: -100px;
    left: 30%;
    }
    .btnn span {
    font-size: 23px;
    }
}



/*--------LARGE  */

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    /* LOGO */
.main-container .logo img {
    width: 500px;
}
 /* NINJA */
 .secciones 
 .texto{  
    color: rgb(172, 172, 172); 
     text-align: justify;
     font-size: 19px ;
     position: relative; 
     padding: 0;
     margin-top: 130px;
 }    

 .container {
     display: flex;
     flex-direction: column;
 }

 .contenedor-texto
 h2{
     font-size: 35px;
     color: rgb(172, 172, 172);

 }
 .imagen-container{
     width: 700px;
     margin-bottom: 50px;
 }
 /*Seccion 1*/

     .seccion-div1 .secciones {
        flex-direction: column-reverse;
    }
  
    .contenedor-texto1 p{
        font-size: 19px ;
    }
    .contenedor-texto1 h2{
        font-size: 25px ;
    }
    .seccion-div1 img{
        width: 700px;
        height: auto;
        margin-bottom: 10px;
    }

    /*Seccion 2*/
    .seccion-div2 .secciones {
        flex-direction: column;
    }

    .contenedor-texto2 p{
        font-size: 19px;
    }
    .contenedor-texto2 h2{
        font-size: 25px ;
    }
    
    .seccion-div2 img{
        width: 700px;
        height: auto;
        margin-bottom: 10px;
    }

     /*About*/
     .about-text p{
        font-size: 18px;
        text-align: justify;
    }
    .about-text h2{
        font-size: 32px ;
    }
    /*FAQ*/
    .contenedor-acordeon h2{
        font-size: 30px ;
        text-align: left ;
        margin-top: 100px;
    }
    .contenedor-acordeon p{
       text-align: justify;
    }
    .acordeon label{
        font-size: 17px ;
        text-align: left
    }

    /*BUY - NUEVO */
    .flex-container {
    display: flex;
    flex-direction:column;
    text-align: center;
  }
    /*Derecho-Arriba(Blanco)*/
    .item-left {
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    margin: 5rem 5rem 5rem 5rem; 
    height: 500px;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 5px;
    }
    .item-left p{
    font-size: 18px; text-align: justify;
    }

    /*Izquierdo-Abajo(Negro)*/
    .item-right {
    border-radius: 20px 20px 20px 20px;
    text-align:left;
    font-size: 15px;
    margin: 5rem 5rem 5rem 5rem;
    height: 500px;
    width: 500px;
    margin-top: 5px;
    }
    /* Boton Buy */
    .controll{
    bottom: -100px;
    left: 30%;
    }
    .btnn span {
    font-size: 23px;
    }
}



/*-------- Extra large (1200px and up) */
@media only screen and (min-width: 1025px)  {
    
    /* LOGO */
    .main-container .logo img {
        width: 600px;
    }

}



@media only screen and (min-width: 1365px) and (max-width:1700px) {
     
    /* LOGO */
    .main-container .logo img {
        width: 600px;
    }

    /* NINJA */

    .seccion-ninja{
        position: relative;
        display: inline-block;
        text-align: center;
    }
    
    .texto {
        position: absolute;
        font-size: 19px;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(172, 172, 172);
    }
    .imagen-container {
        width: 75%;
    }
    .contenedor-texto
    h2{
        font-size: 30px;
        color: rgb(172, 172, 172);
    }

    /* SECCION 1*/

    .seccion-div1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .contenedor-texto1 h2{
        text-align: left;
        padding-left: 9%;
        color: rgb(172, 172, 172);
    }
    
    .contenedor-texto1 p {
        font-size: 22px;
        text-align: left;
        padding-left: 9%;
        color: rgb(172, 172, 172);
    }
    
    .seccion-div1 img {
        padding-left: 8%;
    }
    
    /* SECCION 2 */

    .seccion-div2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .contenedor-texto2 h2 { 
        text-align: right;
        font-size: 40px;
        padding-right: 8%;
        color: rgb(172, 172, 172);
    }
    
    .contenedor-texto2 p {
        font-size: 22px;
        text-align: right;
        padding-right: 8%;
        color: rgb(172, 172, 172);
    }
    
    .seccion-div2 img {
        padding-right: 6%;
    }
    
    /* ABOUT */

    .about-text p {
        text-align: justify;
    }

}
