* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: black;
}

section {
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px ;
    align-items: center;
    color: aliceblue;
}

section h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

section p {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 25px;
}

section a {
    display: inline-block;
    padding: 7px 0;
    width: 100px;
    text-align: center;
    border: 1px solid;
    border-radius: 50px;
}

section img {
    height: 70%;
}

