* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    color: aliceblue;
}

.main-container {

}

.nav{
    transition: color 0.4s ease-in-out;
    color: aliceblue;
}

.nav:hover {
    color: grey;

}

/* MENU */

.menu {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0 auto;
    width: 70%;
    align-items: center;
}

.menu > div {
    width: 50%;
}

.menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1.9rem;
}

.menu ul li {
    animation-name: opening-logo;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
}

.menu .logo img {
    animation-name: opening-logo;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
}

/* MENU MOBILE 

.menu-mobile {
    display: none;
}

.menu-mobile a:hover {
    color: rgb(77, 77, 77);  
}

.menu-mobile .header {
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-evenly;
    align-content: center;
}

.menu-mobile .header .logo {
    flex-grow: 2;
    text-align: left;
	padding-left: 10%;
}

.menu-mobile .header .logo img {
    width: 65px;
    animation-name: opening-logo;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
	}

.menu-mobile ul {
    margin: 0%;
    padding: 5%;
    display: flex;
    flex-direction: column;
	column-width: 300%
} 

.menu-mobile ul li {
    text-align: left;
}

.menu-mobile ul li a {
    display: block;
    padding: 10px  ;
}
 */


@keyframes opening-logo {
    0% {
        transform:  scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* SECCIONES*/

.seccion1 {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px ;
    align-items: center;
    color: aliceblue;
    animation-name: opening-logo;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
}

.seccion2 {
    display: inline
}

.seccion2 h2 {
    text-align: center;
}

.seccion2 p {
    font-size: 25px;
    text-align: center;
}

section {
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px ;
    align-items: center;
    color: aliceblue;	
}

section h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

section p {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 25px;
}

/*section a {
    display: inline-block;
    padding: 7px 0;
    width: 100px;
    text-align: center;
    border: 1px solid;
    border-radius: 50px;
}*/

section img {
    height: 70%;
}


/* MEDIA */

@media (max-width:764px) {
    .menu {
        display: block;
    }
    .menu-mobile {
        display: block;
    }
}



.about-text{
color: rgb(172, 172, 172);
margin: 10%;
font-size: 20px;
}

/*Acordeon en ABOUT*/

.contenedor-acordeon{
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top:auto ;
    margin-bottom: 100px;
    color: rgb(172, 172, 172);

}
.contenedor-acordeon h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 35px;
}
.acordeon{
    background: #000000;
    color: rgb(172, 172, 172);
}
.acordeon label{
    display: block;
    padding: 20px;
    font-size: 20px;
    background: #0f0f0f;
    color: rgb(172, 172, 172);
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
    
}
.acordeon label:hover{
    background: #2e2e2e;
}
.acordeon .contenido-acordeon{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}
.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 600px;
    padding: 15px 0px;
}
.btn-acordeon{
    display: none;
}


/*       BUY       


.container-card {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
    
}

.container-card {
	min-width: 700px;
	min-height: 350px;
	border-radius: 20px;
	position: relative;
	-webkit-transition: 1.5s ease-in-out;
	transition: 3.5s ease-in-out;
	transform-style: preserve-3d;
}

.side {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 50px 50px;
	color: #fff;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 20px;
}
.content {
	transform: translatez(70px) scale(0.8);
	line-height: 1.5em;
}
.content h1 {
	position: relative;
    margin-top: 35px;
}
.content p {
	margin-top: 25px;
    margin-right: 40%;
    text-align: justify;
	line-height: em;
}
.content h1:before {
	content: "";
	position: absolute;
	bottom: -20px;
	height: 3px;
	
	width: 70px;
	left: 50%;
	transform: translateX(-50%);
}
.front {
	z-index: 2;
	background-size: 100vh;
	background-size: cover;
	background-image: url(./Imagenes/imagen1.png);
}




.back {
	
	transform: rotateY(180deg);
	z-index: 0;
	padding-top: 10px;
	background-image: url();
    background-color: #000000;
}
.container-card:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
form {
	text-align: left;
}
.back h1 {
	margin: 0;
}
form label,
form input {
	display: block;
}
form input,
form textarea {
	background: transparent;
	border: 0;
	border-bottom: 2px solid #444;
	padding: 5px;
	width: 100%;
	color: #fff;
}
form label {
	margin: 15px 0;
}
form input[type="submit"] {
	display: block;
	width: auto;
	margin: 10px auto;
	padding: 5px 10px;
	border: 3px solid #555;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}*/


body {
	background-attachment: fixed;	
	background-size: cover;
	}

#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: right;
	border-radius: 15px;
	overflow: hidden;
	margin: 9em auto;
	height: 500px;
	width: 1000px;
}

/* 	Product details  */
.product-details {
	position: relative;
	text-align: center;
	overflow: hidden;
	padding: 20px;
	height: 100%;
	float: left;
	width: 50%;
}

/* 	Product Name */
#container .product-details h1{
	
	display: inline-block;
	position: relative;
	font-size: 34px;
	color: #000000;
	margin: 0;
	}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: -30%; 
	top: 0%;
	transform: translate(25px, -15px);
	
	display: inline-block;
	background: #000000;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: #FFF;
	margin: 0;
	animation: chan-sh 6s ease infinite;
}

@keyframes chan-sh {
	from  {content: 'free shipping';}
	to  {content: 'New';}
}

/* The most important information about the product */
#container .product-details > p {
	
	text-align: left;
	font-size: 28x;
	color: #4d4b4b;
}

/* control */
.control{
	position: absolute;
	bottom: 20%;
	left: 26.8%;
}
/* the Button */
.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: #171717;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
}

.btn:hover{transform: translateY(-4px);}

.btn span {
	
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
}
/* shopping cart icon */
.btn .price, .shopping-cart{
	background: #5b5b5b;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

/* the Icon */
.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #5b5b5b;
	z-index: 1;
  left: 0;
  top: 0;
}

/* product image  */
.product-image {
	transition: all 0.3s ease-out;
    
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
    }

#container img {
    width: 300%;
    height: 100%;
    }

.info {
    background: rgba(27, 26, 26, 0.9);
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;

    color: #adadad;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0;
    font-size: 15px;
    padding: 6%;
	
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(25px) scale(1.1);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

/* MENU BUY-ABOUT */

.menu-mobile-b-a a:hover {
    color: rgb(77, 77, 77);  
}

.menu-mobile-b-a .header {
    display: flex;
    width: 0%;
	padding-left: 8%;
	padding-top: 1%;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-evenly;
    align-content: center;
}

.menu-mobile-b-a .header .logo {
    flex-grow: 2;
    text-align: left;
}

.menu-mobile-b-a .header .logo img {
    width: 65px;
    animation-name: opening-logo;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
	}

.menu-mobile-b-a ul {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
	column-width:0%
} 

.menu-mobile-b-a ul li {
    text-align: left;
	padding-left: 8%;
}

.menu-mobile-b-a ul li a {
    display: block;
    padding: 10px  ;
}

@keyframes opening-logo {
    0% {
        transform:  scale(0);
    }

    100% {
        transform: scale(1);
    }
}
